$team-red: red;
$team-blue: blue;
$team-grey: grey;
$team-black: black;

$team-red-bg:   mix(#fff, $team-red,   50%);
$team-blue-bg:  mix(#fff, $team-blue,  50%);
$team-grey-bg:  mix(#fff, $team-grey,  50%);
$team-black-bg: mix(#fff, $team-black, 50%);

$footer-height: 30px;

$font-size-base: 17px;