// Components.

@mixin center-child() {
	display: flex;
	justify-content: center;
	align-items: center;
}

.blank-slate {
	@extend .well;
	text-align: center;
}



html {
  position: relative;
  min-height: 100%; // For sticky footer.
}
body {
	padding-top: 70px; // For the fixed navbar.
	padding-bottom: $footer-height; // For the sticky footer.
}

body > header > nav,
#screen {
	@extend .container;
}


// Page header.
body > header {
	@extend .navbar;
	@extend .navbar-default;
	@extend .navbar-fixed-top;
}
#nav-main {
	@extend .navbar-header;

	.brand {
		@extend .navbar-brand;
	}
}
#nav-overflow {
	@extend .collapse;
	@extend .navbar-collapse;

	> ul {
		@extend .nav;
		@extend .navbar-nav;
	}

	> .user-details {
		@extend .navbar-right;
		.guest-name {
			@extend .navbar-text;
		}
	}
}




// Page footer.
body > footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
}
body > footer > div {
	@extend .container-fluid;
}


// Home.
.hero {
	margin: auto;
}